
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sidebar{
    background-color: aqua;
    width: 334px;
    height: 100vh;
}
.sidebar nav{
    padding: 45px;
}
.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33px 0;

}
.sidebar nav li a{
    text-decoration: none;
}
.main{
    /* background-color: blueviolet; */
    width: 85vw;

}
.container{
    display: flex;


}
.infocontainer{
    /* background-color: yellow; */
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}
.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Source Code Pro", monospace;
}
.hello{
    font-size: 65px;
}
.name{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Fira Sans',sans-serif;
}
.about{
    font-size: 40px;
}
.moreabout{
    font-size: 22px;
    margin-top: 23px;
    font-family: 'Fira Sans',sans-serif;
}
.buttons{
    margin-top: 30px;
}
.btn{
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: darkorange;
    font-weight: bold;
    font-size: 21px;
    margin: 0 3px;
    cursor: pointer;
}
.btn-sm{
    font-size: 17px;
    padding: 10px 19px;
    margin: 12px0;
}
.btn:hover{
    background-color: white;
    color:blue;
}
.devPic img{
    height:58vh;
}
.contactform{
    padding: 0 34px;
    padding-top: 144px;
    font-family: 'Fira Sans',sans-serif;
}
.contactform h1{
    font-family: "Source Code Pro", monospace;
    /* text-align: center; */
    padding: 12px 0;
}
.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}
.contactform form div{
    width: 16vw;
    border-radius: 5px;
    margin: 6px 0;
    padding: 3px;
}
#emailHelp{
    font-size: 11px;
    color: midnightblue;
    margin: 0 5px;
    padding: 3px 0 0 0;
}
#form-check{
    flex-direction: row;
}
#form-check-input{
    width: 24px;
    margin: 3px 0;
}